.bio-avatar {
    margin-right: var(--spacing-4);
    margin-bottom: var(--spacing-0);
    min-width: 50px;
    border-radius: 100%;
  }

.bio {
display: flex;
justify-self: center;
margin-bottom: var(--spacing-16);
margin-bottom: var(--spacing-0);
}
